import optiver2023
env = optiver2023.make_env()
iter_test = env.iter_test()

counter = 0
for (test, revealed_targets, sample_prediction) in iter_test:
    if counter == 0:
        print(test.head(3))
        print(revealed_targets.head(3))
        print(sample_prediction.head(3))
    sample_prediction['target'] = 0
    env.predict(sample_prediction)
    counter += 1

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('train.csv')
df

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.000000,-3.029704,0,0_0_0
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.000000,-5.519986,0,0_0_1
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.000000,-8.389950,0,0_0_2
3,3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.000000,-4.010200,0,0_0_3
4,4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.000000,-7.349849,0,0_0_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5237975,195,480,540,2440722.89,-1,1.000317,28280361.74,0.999734,0.999734,1.000317,32257.04,1.000434,319862.40,1.000328,2.310276,26454,480_540_195
5237976,196,480,540,349510.47,-1,1.000643,9187699.11,1.000129,1.000386,1.000643,205108.40,1.000900,93393.07,1.000819,-8.220077,26454,480_540_196
5237977,197,480,540,0.00,0,0.995789,12725436.10,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,1.169443,26454,480_540_197
5237978,198,480,540,1000898.84,1,0.999210,94773271.05,0.999210,0.999210,0.998970,125631.72,0.999210,669893.00,0.999008,-1.540184,26454,480_540_198
5237979,199,480,540,1884285.71,-1,1.002129,24073677.32,1.000859,1.001494,1.002129,250081.44,1.002447,300167.56,1.002274,-6.530285,26454,480_540_199

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5237980 entries, 0 to 5237979
Data columns (total 17 columns):
 #   Column                   Dtype
---  ------                   -----
 0   stock_id                 int64
 1   date_id                  int64
 2   seconds_in_bucket        int64
 3   imbalance_size           float64
 4   imbalance_buy_sell_flag  int64
 5   reference_price          float64
 6   matched_size             float64
 7   far_price                float64
 8   near_price               float64
 9   bid_price                float64
 10  bid_size                 float64
 11  ask_price                float64
 12  ask_size                 float64
 13  wap                      float64
 14  target                   float64
 15  time_id                  int64
 16  row_id                   object
dtypes: float64(11), int64(5), object(1)
memory usage: 679.4+ MB

In [16]:
df['date_id'].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480],
      dtype=int64)

In [10]:
dfDates = df[df['date_id'] == 0]
dfDates

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.000000,-3.029704,0,0_0_0
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.000000,-5.519986,0,0_0_1
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.000000,-8.389950,0,0_0_2
3,3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.000000,-4.010200,0,0_0_3
4,4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.000000,-7.349849,0,0_0_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10500,194,0,540,583278.56,1,1.000809,5213804.47,1.004044,1.001839,1.000368,100820.46,1.000809,12318.86,1.000761,10.789633,54,0_540_194
10501,195,0,540,304130.06,-1,0.998402,33493937.72,0.998176,0.998176,0.998402,101303.04,0.998515,97163.00,0.998460,1.709461,54,0_540_195
10502,196,0,540,1595817.99,-1,0.999695,9965822.60,0.997147,0.999695,0.999695,45289.30,0.999844,389186.14,0.999710,-0.129938,54,0_540_196
10503,197,0,540,354616.47,-1,0.999977,9118830.62,0.999836,0.999836,0.999907,203793.36,1.000260,85062.00,1.000156,-0.339746,54,0_540_197
10504,198,0,540,4357623.66,1,0.999433,52151663.96,1.000117,0.999946,0.999262,715756.14,0.999433,360743.50,0.999376,9.160042,54,0_540_198

In [12]:
dfDates = df[df['date_id'] == 1]
dfDates['stock_id'].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  70,  71,  72,  73,  74,  75,  76,  77,  80,
        81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,
        94,  95,  96,  97,  98,  99, 100, 101, 103, 104, 105, 106, 107,
       108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
       121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133,
       134, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147,
       148, 149, 151, 152, 154, 155, 157, 158, 159, 160, 161, 162, 163,
       164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176,
       177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189,
       190, 191, 192, 193, 194, 195, 196, 197, 198], dtype=int64)

In [43]:
np.sort(df['stock_id'].unique())

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199], dtype=int64)

stock_counts = df['stock_id'].value_counts()
stock_counts.plot(kind='bar', color='skyblue', figsize=(20, 6))
plt.title('Stock Counts')
plt.xlabel('Stock ID')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.show()

In [15]:
dfDates[dfDates['stock_id'] == 0]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
10505,0,1,0,1870169.40,1,0.999923,5132566.71,NaN,NaN,0.999601,9302.00,1.000998,23287.50,1.000000,-14.089942,55,1_0_0
10696,0,1,10,1112218.97,1,0.999278,5890517.14,NaN,NaN,0.999064,8088.39,0.999493,23252.50,0.999175,-3.079772,56,1_10_0
10887,0,1,20,937829.89,1,0.998634,6064906.23,NaN,NaN,0.998419,5574.60,0.998634,52412.52,0.998439,2.540350,57,1_20_0
11078,0,1,30,937829.89,1,0.998204,6064906.23,NaN,NaN,0.997989,14673.46,0.998204,41800.50,0.998045,2.390146,58,1_30_0
11269,0,1,40,937829.89,1,0.998634,6064906.23,NaN,NaN,0.998419,4738.41,0.998634,4646.50,0.998527,-0.540018,59,1_40_0
11460,0,1,50,450954.91,1,0.998634,6551781.20,NaN,NaN,0.998526,1022.12,0.998634,17935.49,0.998532,0.740290,60,1_50_0
11651,0,1,60,450954.91,1,0.998419,6551781.20,NaN,NaN,0.998311,5295.30,0.998419,3995.13,0.998373,-0.659823,61,1_60_0
11842,0,1,70,418198.80,1,0.998849,6603055.69,NaN,NaN,0.998634,5668.73,0.998849,5391.10,0.998744,-4.230142,62,1_70_0
12033,0,1,80,484920.77,1,0.998741,6640278.54,NaN,NaN,0.998634,35127.54,0.998741,15428.04,0.998708,-3.169775,63,1_80_0
12224,0,1,90,484920.77,1,0.998419,6640278.54,NaN,NaN,0.998311,4459.20,0.998419,10034.28,0.998344,1.469850,64,1_90_0
12415,0,1,100,480081.80,1,0.998419,6645117.51,NaN,NaN,0.998311,13749.20,0.998419,12357.03,0.998368,-0.849962,65,1_100_0
12606,0,1,110,480081.80,1,0.998849,6645117.51,NaN,NaN,0.998634,13753.64,0.998849,18218.20,0.998726,-2.790093,66,1_110_0
12797,0,1,120,480081.80,1,0.998526,6645117.51,NaN,NaN,0.998419,7154.07,0.998526,15610.56,0.998453,1.089573,67,1_120_0
12988,0,1,130,475801.17,1,0.998526,6649398.14,NaN,NaN,0.998311,24618.50,0.998526,20070.72,0.998430,1.100302,68,1_130_0
13179,0,1,140,448907.66,1,0.998526,6676291.66,NaN,NaN,0.998419,15423.06,0.998526,14774.28,0.998474,2.629757,69,1_140_0
13370,0,1,150,327188.91,1,0.998849,6798010.40,NaN,NaN,0.998526,43393.64,0.998849,4461.60,0.998819,-2.350211,70,1_150_0
13561,0,1,160,327188.91,1,0.998741,6798010.40,NaN,NaN,0.998634,9293.00,0.998741,9386.94,0.998687,-3.749728,71,1_160_0
13752,0,1,170,431692.09,1,0.998741,6798010.40,NaN,NaN,0.998634,28622.44,0.998741,9294.00,0.998715,0.970364,72,1_170_0
13943,0,1,180,1081324.00,1,0.998634,6862964.29,NaN,NaN,0.998741,9294.00,0.998849,13756.60,0.998785,1.889467,73,1_180_0
14134,0,1,190,1008460.26,1,0.998956,6967560.51,NaN,NaN,0.998741,13941.00,0.998956,23054.08,0.998822,3.969669,74,1_190_0
14325,0,1,200,957651.06,1,0.999064,7018369.71,NaN,NaN,0.998849,32439.55,0.999064,9761.85,0.999014,1.330376,75,1_200_0
14516,0,1,210,957651.06,1,0.998741,7018369.71,NaN,NaN,0.998634,4646.50,0.998741,4461.12,0.998689,4.529953,76,1_210_0
14707,0,1,220,957651.06,1,0.998526,7018369.71,NaN,NaN,0.998311,24804.30,0.998526,51013.08,0.998382,6.450415,77,1_220_0
14898,0,1,230,957651.06,1,0.998849,7018369.71,NaN,NaN,0.998634,43212.45,0.998849,4461.60,0.998829,3.240108,78,1_230_0
15089,0,1,240,870084.29,1,0.999064,7111426.86,NaN,NaN,0.998956,32628.96,0.999064,4462.56,0.999051,0.189543,79,1_240_0
15280,0,1,250,1079183.69,1,0.999278,7115986.66,NaN,NaN,0.999171,46025.10,0.999278,13762.52,0.999254,-4.690289,80,1_250_0
15471,0,1,260,1064945.94,1,0.999278,7213417.49,NaN,NaN,0.999064,24637.05,0.999386,17577.00,0.999252,-4.889965,81,1_260_0
15662,0,1,270,1034981.54,1,0.999386,7243381.89,NaN,NaN,0.999171,14969.78,0.999386,33015.00,0.999238,-6.319881,82,1_270_0
15853,0,1,280,2333966.20,1,0.999278,7966435.89,NaN,NaN,0.999278,8927.04,0.999493,4464.48,0.999422,-4.590154,83,1_280_0
16044,0,1,290,2769008.34,1,0.999601,9297432.20,NaN,NaN,0.999601,4464.96,0.999816,4465.92,0.999708,-6.669760,84,1_290_0
16235,0,1,300,2644684.00,1,0.999601,11260472.63,1.018514,1.010132,0.999493,93.01,0.999601,6511.40,0.999495,-5.589724,85,1_300_0
16426,0,1,310,1747240.91,1,0.999493,12157915.71,1.015505,1.006049,0.999386,49290.00,0.999493,15625.68,0.999468,0.089407,86,1_310_0
16617,0,1,320,1721371.03,1,0.999278,12183785.60,1.015075,1.004437,0.999171,33472.80,0.999278,34685.27,0.999224,1.529455,87,1_320_0
16808,0,1,330,1710204.17,1,0.999171,12194952.46,1.014860,1.004437,0.999064,31330.89,0.999171,29846.58,0.999119,2.269745,88,1_330_0
16999,0,1,340,1710111.11,1,0.999171,12195045.51,1.014860,1.004437,0.999064,39884.13,0.999171,44537.42,0.999114,2.369881,89,1_340_0
17190,0,1,350,1710111.11,1,0.999064,12195045.51,1.014860,1.004437,0.998956,19521.60,0.999064,74654.91,0.998978,0.040531,90,1_350_0
17381,0,1,360,1710111.11,1,0.999064,12195045.51,1.014860,1.004437,0.998956,37091.04,0.999064,90180.90,0.998987,0.150204,91,1_360_0
17572,0,1,370,1710111.11,1,0.999278,12195045.51,1.014860,1.004437,0.999064,36072.36,0.999278,11158.80,0.999228,-3.250241,92,1_370_0
17763,0,1,380,1680146.71,1,0.999386,12225009.91,1.014860,1.004437,0.999278,29198.86,0.999386,6603.00,0.999366,-2.160072,93,1_380_0
17954,0,1,390,1670654.89,1,0.999171,12234501.74,1.014538,1.004114,0.999064,42673.23,0.999171,18596.00,0.999138,-0.709891,94,1_390_0
18145,0,1,400,1641993.29,1,0.999171,12263163.34,1.014538,1.004114,0.999064,62661.78,0.999171,5206.88,0.999163,-1.119971,95,1_400_0
18336,0,1,410,1570153.17,1,0.998956,12335003.46,1.014538,1.004114,0.998849,8272.55,0.998956,118988.80,0.998856,1.009703,96,1_410_0
18527,0,1,420,1566523.94,1,0.998956,12338632.69,1.014538,1.004114,0.998849,48241.05,0.998956,13386.24,0.998933,5.450249,97,1_420_0
18718,0,1,430,1530510.83,1,0.999064,12374645.80,1.014430,1.004114,0.998849,67295.80,0.999064,32446.53,0.998994,5.300045,98,1_430_0
18909,0,1,440,1516738.37,1,0.999171,12388418.26,1.008842,1.002180,0.999064,42301.35,0.999171,46304.04,0.999115,3.659725,99,1_440_0
19100,0,1,450,1501477.00,1,0.999278,12403679.63,1.008628,1.002180,0.999171,63598.32,0.999278,28175.97,0.999245,3.240108,100,1_450_0
19291,0,1,460,1492171.29,1,0.999278,12431596.77,1.003469,1.001213,0.999171,47326.82,0.999278,33011.45,0.999234,3.180504,101,1_460_0
19482,0,1,470,1540747.11,1,0.999171,12457466.66,1.002180,1.000675,0.999064,80883.90,0.999171,5020.92,0.999165,6.580353,102,1_470_0
19673,0,1,480,1155769.71,1,0.999601,12793123.77,1.001105,1.000675,0.999386,81654.00,0.999601,13580.92,0.999570,2.900362,103,1_480_0
19864,0,1,490,943878.60,1,0.999601,13005014.89,1.001105,1.000246,0.999493,12928.39,0.999601,41765.98,0.999519,3.960133,104,1_490_0
20055,0,1,500,1258318.69,1,0.999278,12718491.94,1.001105,1.000138,0.999171,39981.40,0.999278,13483.55,0.999251,4.630089,105,1_500_0
20246,0,1,510,1314152.97,1,0.999171,12727797.66,1.001105,1.000138,0.999171,9298.00,0.999386,27900.00,0.999225,5.780458,106,1_510_0
20437,0,1,520,1208253.94,1,0.999386,12768556.69,1.001105,1.000138,0.999171,88609.94,0.999386,22971.00,0.999342,6.799698,107,1_520_0
20628,0,1,530,914937.83,1,0.999601,13033955.66,1.001105,1.000138,0.999278,398369.16,0.999601,89764.30,0.999542,2.820492,108,1_530_0
20819,0,1,540,875760.77,1,0.999816,13073132.71,1.001105,1.000353,0.999493,280239.13,0.999816,85596.80,0.999740,-2.700090,109,1_540_0

In [4]:
df.describe()

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id
count,5.237980e+06,5.237980e+06,5.237980e+06,5.237760e+06,5.237980e+06,5.237760e+06,5.237760e+06,2.343638e+06,2.380800e+06,5.237760e+06,5.237980e+06,5.237760e+06,5.237980e+06,5.237760e+06,5.237892e+06,5.237980e+06
mean,9.928856e+01,2.415100e+02,2.700000e+02,5.715293e+06,-1.189619e-02,9.999955e-01,4.510025e+07,1.001713e+00,9.996601e-01,9.997263e-01,5.181359e+04,1.000264e+00,5.357568e+04,9.999920e-01,-4.756125e-02,1.331005e+04
std,5.787176e+01,1.385319e+02,1.587451e+02,2.051591e+07,8.853374e-01,2.532497e-03,1.398413e+08,7.214705e-01,1.216920e-02,2.499345e-03,1.114214e+05,2.510042e-03,1.293554e+05,2.497509e-03,9.452860e+00,7.619271e+03
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,9.352850e-01,4.316610e+03,7.700000e-05,7.869880e-01,9.349150e-01,0.000000e+00,9.398270e-01,0.000000e+00,9.380080e-01,-3.852898e+02,0.000000e+00
25%,4.900000e+01,1.220000e+02,1.300000e+02,8.453415e+04,-1.000000e+00,9.987630e-01,5.279575e+06,9.963320e-01,9.971000e-01,9.985290e-01,7.374720e+03,9.990290e-01,7.823700e+03,9.987810e-01,-4.559755e+00,6.729000e+03
50%,9.900000e+01,2.420000e+02,2.700000e+02,1.113604e+06,0.000000e+00,9.999670e-01,1.288264e+07,9.998830e-01,9.998890e-01,9.997280e-01,2.196900e+04,1.000207e+00,2.301792e+04,9.999970e-01,-6.020069e-02,1.334500e+04
75%,1.490000e+02,3.610000e+02,4.100000e+02,4.190951e+06,1.000000e+00,1.001174e+00,3.270013e+07,1.003318e+00,1.002590e+00,1.000905e+00,5.583168e+04,1.001414e+00,5.787841e+04,1.001149e+00,4.409552e+00,1.990700e+04
max,1.990000e+02,4.800000e+02,5.400000e+02,2.982028e+09,1.000000e+00,1.077488e+00,7.713682e+09,4.379531e+02,1.309732e+00,1.077488e+00,3.028784e+07,1.077836e+00,5.440500e+07,1.077675e+00,4.460704e+02,2.645400e+04

import matplotlib.pyplot as plt
df.plot(kind='bar')
plt.show()

In [ ]:
df.